<div id="carouselOption1" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- インジケータの設定 -->
  <ol class="carousel-indicators">
    <li data-target="#carouselOption1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselOption1" data-slide-to="1"></li>
    <li data-target="#carouselOption1" data-slide-to="2"></li>
    <li data-target="#carouselOption1" data-slide-to="3"></li>
    <li data-target="#carouselOption1" data-slide-to="4"></li>
    <li data-target="#carouselOption1" data-slide-to="5"></li>
    <li data-target="#carouselOption1" data-slide-to="6"></li>
    <li data-target="#carouselOption1" data-slide-to="7"></li>
    <li data-target="#carouselOption1" data-slide-to="8"></li>
  </ol>
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div><%= image_tag("kazuhiro17810002_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第1スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("kazuki180110drguiu-Edit_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第2スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KAZUKIftrdsertfyg-Edit-Edit_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第3スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KAZUKIhgfdrfgh_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第4スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("kazukihirosdfygufrc-Edit_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第5スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KZKHdrftgyh_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第6スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KZKHDSC00280-Edit_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第7スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KZKHDSCF2398_TP_V.jpg",class:"carousel-img") %></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第8スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
    <div class="carousel-item">
      <div><%= image_tag("KZKHdxdfgh-Edit_TP_V.jpg",class:"carousel-img")%></div>
      <div class="carousel-caption d-none d-md-block">
        <h5>第9スライド見出し</h5>
        <p>スライドイメージの紹介</p>
      </div>
    </div>
  </div>
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselOption1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselOption1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div>