<%= form_with(model: post, local: true) do |form| %>
<div class="container">
<div class="row justify-content-md-center forms">
<div class="col-md-5">
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div class="field">
    <strong class="form">タイトル</strong>
    <%= form.text_field :title, class:"form" %>
  </div>

  <div class="field">
    <strong class="form">イメージ画像</strong>
    <%= form.file_field :image, id: :post_image, class:"form" %>
  </div>

  <div class="field">
    <strong class="form">説明文</strong>
    <%= form.text_area :text, class:"form" %>
  </div>

  <div class="field">
    <p>カテゴリー</p>
    <%= form.select :category, Post.categories.keys, class:"form"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
</div>
</div>
</div>
<% end %>
