<p id="notice"><%= notice %></p>

<!--carousel-->
<%= render "parts/carousel" %>

<!--category buttons-->
<%= render "parts/categories" %>

<!--cards-->
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="card col-md-3">
        <!--Image-->
        <%= link_to post do %>
          <%= image_tag(post.image_url,class:"card-img-top card-img",alt:"イメージ画像") if post.image.present?  %>
        <% end %>
        <div class="card-body">
          <!--title-->
          <%= link_to post do %>
            <h5 class="card-title" style="font-weight:bold;"><%=post.title%></h4>
          <% end %>
          <%= link_to post.category ,controller:"posts",action:"index",category: post.category %></br>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_post_path(post) %>
        </div>
      </div>
    <% end %>
  </div>
</div>